<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBw4w2jF7CpbIFZSzqHX1p4FwjMkRBfwc0</string>
	<key>GCM_SENDER_ID</key>
	<string>71765984154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSeries.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fireseries-3b992</string>
	<key>STORAGE_BUCKET</key>
	<string>fireseries-3b992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71765984154:ios:25db3ada83651e29a73023</string>
</dict>
</plist>